<a href="https://colab.research.google.com/github/sanskarkulkarni1910/Movie_Recommendiation_System/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

step -1 go to kaggle and search TMDB 5000 Movie Dataset and copy code from download button

In [61]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("tmdb/tmdb-movie-metadata")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'tmdb-movie-metadata' dataset.
Path to dataset files: /kaggle/input/tmdb-movie-metadata

In [62]:
# Import numpy for numerical operatios
import numpy as np

# Import pandas for data handling
import pandas as pd

In [63]:
# Import Os module to interact eith file syatem
import os

# List all files inside the dataset folder
os.listdir(path)

['tmdb_5000_movies.csv', 'tmdb_5000_credits.csv']

In [64]:
# Load the movies dataset CSV file into a dataframe
movies = pd.read_csv(path + "/tmdb_5000_movies.csv")

# Display forst 5 rows in a dataset
movies.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004

In [65]:
# Display last 5 rows of the dataset
movies.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [66]:
# Check number of column and rows in dataset
movies.shape

(4803, 20)

In [67]:
# display columns rows
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [68]:
# Get detailed information about dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [69]:
# check for missing value in each column
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [70]:
# count number of unique movies titles
movies['title'].nunique()

4800

In [71]:
# check if there are duplicate rows
movies.duplicated().sum()

np.int64(0)

In [72]:
# display 5 random movies of dataset
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3115,10000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,78149,"[{""id"": 214956, ""name"": ""alan smithee""}]",en,"An Alan Smithee Film: Burn, Hollywood, Burn",Filmmaker Alan Smithee finds himself the unwil...,0.666218,"[{""name"": ""Hollywood Pictures"", ""id"": 915}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1998-02-20,45779,86.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,"An Alan Smithee Film: Burn, Hollywood, Burn",3.0,9
440,80000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,12193,"[{""id"": 65, ""name"": ""holiday""}, {""id"": 9799, ""...",en,Four Christmases,Brad and Kate have made something of an art fo...,19.500893,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-11-26,163733697,88.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"His father, her mother, his mother and her fat...",Four Christmases,5.3,331
3481,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,19556,"[{""id"": 572, ""name"": ""sex""}, {""id"": 2201, ""nam...",en,Miss March,A young man awakens from a four-year coma to h...,9.371534,"[{""name"": ""The Jacobson Company"", ""id"": 3638}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-03-13,0,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"After four years in a coma, Eugene Pratt is go...",Miss March,5.4,77
1261,0,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,11025,"[{""id"": 1608, ""name"": ""twin sister""}, {""id"": 5...",en,New York Minute,Top student Jane Ryan heads to Manhattan for a...,10.040300,"[{""name"": ""DiNovi Pictures"", ""id"": 813}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-05-01,0,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,New York Minute,5.5,185
982,50000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,241554,"[{""id"": 2708, ""name"": ""hitman""}, {""id"": 9748, ...",en,Run All Night,Brooklyn mobster and prolific hit man Jimmy Co...,74.646530,"[{""name"": ""Vertigo Entertainment"", ""id"": 829},...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-03-11,71561644,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,No sin goes unpunished,Run All Night,6.3,1148

In [73]:
# check datatype of each column
movies.dtypes

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [74]:
# Analyze length of movie overviews
movies['overview'].str.len().describe()

count    4800.000000
mean      305.398750
std       162.758559
min         1.000000
25%       178.000000
50%       284.000000
75%       392.000000
max      1000.000000
Name: overview, dtype: float64

In [75]:
# view complete information of first movie
movies.iloc[0]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   2009-12-10
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object

step -2 Data Cleaning Phase

In [76]:
# Keep only necesssary column for recommendiations
movies = movies[['title', 'overview', 'genres']]
movies.head()

,title,overview,genres
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

In [77]:
# Check missing values again after column section
movies.isnull().sum()

title       0
overview    3
genres      0
dtype: int64

In [78]:
# Removes rows that contain missing values
movies.dropna(inplace=True)

In [79]:
# reset index after removing rows
movies.reset_index(drop=True, inplace=True)

In [80]:
# display cleaned dataset
movies.head()

,title,overview,genres
0,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

Step -3 Feature Engineering Phase

In [81]:
# icombine overview and genre into one text feature
movies['content'] = movies['overview'] + " " + movies['genres']

In [82]:
# Convert All text to lowercase consistency
movies['content'] = movies['content'].str.lower()

In [83]:
# Display title and combine context
movies[['title', 'content']].head()

,title,content
0,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,Spectre,a cryptic message from bond’s past sends him o...
3,The Dark Knight Rises,following the death of district attorney harve...
4,John Carter,"john carter is a war-weary, former military ca..."

step -4 Vectorization and Similarity

In [84]:
# Import TF-IDF vectorizer to Convert text into numbers
from sklearn.feature_extraction.text import TfidfVectorizer

# Initilize and vectorzer
vectorizer = TfidfVectorizer(stop_words='english')

# Convert text content into numerical vectors
vectors = vectorizer.fit_transform(movies['content'])

In [85]:
# Check shape of vectorized data
vectors.shape

# Change column size bcaz of convert (Text --->  vector --->  number) : (Text -->  Number)

(4800, 20988)

In [86]:
# Import cosine similarity functions
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity between vectors
similarity = cosine_similarity(vectors)

In [87]:
# Check shape of simiilarity matrix
similarity.shape

(4800, 4800)

In [88]:
# Functions to Recommend Similar Movies
def recommend(movie_name):
  # get index of shape movie
  idx = movies[movies['title'] == movie_name].index[0]

  # get similarity scores for this movie
  scores = list(enumerate(similarity[idx]))

  # Sort movies based on similarity scores
  scores = sorted(scores, key=lambda x: x[1], reverse=True)

  # Get 5 top movie titles
  return [movies.iloc[i[0]].title for i in scores[1:6]]

In [89]:
# Test Recommendiations system with a sample movie
recommend('Inception')

['The Helix... Loaded',
 'Cypher',
 'Mission: Impossible - Rogue Nation',
 'Pandorum',
 'The Fifth Element']

In [90]:
recommend('Avatar')

['The Helix... Loaded',
 'Apollo 18',
 'The Inhabited Island',
 'The Matrix',
 'The American']